.board-card {
  background-color: var(--color-surface-2);
  box-shadow: var(--shadow-2);

  block-size: 100%;

  border-radius: var(--border-radius-2);

  .cover {
    background-color: var(--color-main);

    min-block-size: 2rem;

    border-start-start-radius: inherit;
    border-start-end-radius: inherit;
  }

  .content {
    padding: 1rem;

    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;

      margin-block-end: 0.5rem;

      .title {
        font-size: var(--fz-500);
        font-weight: 700;
      }
    }

    .description {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
}
