.list-item {
  background-color: var(--color-surface-3);
  box-shadow: var(--shadow-2);
  padding: 0.5rem;
  border-radius: var(--border-radius-2);
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: start;
  gap: 1rem;

  button {
    opacity: 0;
  }
  &:hover {
    button {
      opacity: 1;
    }
  }
}
