.board {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 1rem;

  block-size: 100%;

  .toolbar {
    background-color: var(--color-surface-2);
    box-shadow: var(--shadow-2);

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

    padding: 0.5rem 1rem;

    border-radius: var(--border-radius-2);

    .title {
      font-size: var(--fz-500);
      font-weight: 700;
    }

    .actions {
      display: flex;
      align-items: center;
    }
  }

  .lists {
    overflow: auto;

    display: flex;
    gap: 1rem;

    block-size: 100%;

    padding-block-end: 0.5rem;
    > li {
      .list {
        background-color: var(--color-surface-2);
        box-shadow: var(--shadow-2);
        display: grid;
        grid-template-rows: auto minmax(0, 1fr);
        max-block-size: 100%;
        padding-block-end: 1rem;
        border-radius: var(--border-radius-2);
        inline-size: 20rem;

        .header {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 1rem;
          padding: 1rem 1rem 0.5rem;
        }
        .items {
          overflow: auto;
          display: grid;
          gap: 0.5rem;
          padding: 0.25rem 1rem 0.5rem;
          > li {
            .item {
              background-color: var(--color-surface-3);
              box-shadow: var(--shadow-2);
              padding: 0.5rem;
              border-radius: var(--border-radius-2);
            }
          }
        }
      }
    }
  }
}
