*,
*::before,
*::after {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}

html {
  caret-color: var(--color-primary);
  accent-color: var(--border-primary);

  font-family: "Vazirmatn", sans-serif;
}

input,
label,
select,
textarea,
button,
fieldset,
legend,
datalist,
output,
option,
optgroup {
  font: inherit;
}

body {
  background-color: var(--color-surface-1);

  inline-size: min(75rem, 100% - 2rem);

  margin-inline: auto;

  font-size: var(--fz-400);
}

ul {
  list-style: none;
}

a {
  color: var(--color-primary);

  &:hover {
    color: var(--color-primary-dark);
  }
}
